.button-examples-container {
    flex-direction: row !important;
    flex-wrap: wrap;
    padding: 2rem;
}

button {
    padding: 1rem;
    background-color: #212121;
    color: #fff;
    border: none;
}

.button-primary {
    background-color: #0e72c9;
}

.button-secondary {
    background-color: grey;
    color: #222;
}

.button-success {
    background-color: green;
}

.button-danger {
    background-color: red;
}

.button-link {
    background-color: transparent;
    color: #0e72c9;
}