<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="./slider.css">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/documentation.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/lists.css">
    <link rel="stylesheet" href="../../css/components.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Slider</title>
</head>
<body>
    <!-- Navigation header starts here-->
    <nav class="navigation-container">
        <header class="navigation-left-title"> <a href="../../index.html">MerlinUI</a></header>
        <ul class="navigaton-right-links-container">
            <li><a class="navigation-links"href="">Home</a></li>
            <li><a class="navigation-links" href="">Docs</a></li>
            <li><a class="navigation-links" href="">Github</a></li>
        </ul>
    </nav>
    <!-- Navigation header ends here -->

    <!-- Main section starts -->
    <main class="main-container">
        <section class="sidebar-container">
            <div>
                <header>Components</header>
                <hr />
                <ul class="lists-container">
                    <li class="component-lists"><a class="navigation-links" href="../alert/alert.html">Alert</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../avatar/avatar.html">Avatar</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../badge/badge.html">Badge</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../button/button.html">Button</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../card/card.html">Card</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../grid/grid.html">Grid</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../image/image.html">Image</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../input/input.html">Input</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../list/list.html">List</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../modal/modal.html">Modal</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../navigation/navigation.html">Navigation</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../rating/rating.html">Rating</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../slider/slider.html">Slider</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../toast/toast.html">Toast</a></li>
                </ul>
            </div>
        </section>
        <section class="documentation-container">
            <header class="component-title-text">
                Slider
            </header>
            <hr />
            <p class="component-paragraph-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <div class="component-examples-container slider-examples-container">
               <input type="range" min="50" max="100" class="input input-slider"/>
            </div>

            <div class="component-code-examples-container">
                
            </div>
        </section>
    </main>
    <!-- Main section ends-->
</body>
</html>