<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="./toast.css">
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/documentation.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/lists.css">
    <link rel="stylesheet" href="../../css/components.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Alerts</title>
</head>
<body>
    <!-- Navigation header starts here-->
    <nav class="navigation-container">
        <header class="navigation-left-title"> <a href="../../index.html">MerlinUI</a></header>
        <ul class="navigaton-right-links-container">
            <li><a class="navigation-links"href="">Home</a></li>
            <li><a class="navigation-links" href="">Docs</a></li>
            <li><a class="navigation-links" href="">Github</a></li>
        </ul>
    </nav>
    <!-- Navigation header ends here -->

    <!-- Main section starts -->
    <main class="main-container">
        <section class="sidebar-container">
            <div>
                <header>Components</header>
                <hr />
                <ul class="lists-container">
                    <li class="component-lists"><a href="./alert.html">Alert</a></li>
                    <li class="component-lists"><a href="../avatar/avatar.html">Avatar</a></li>
                    <li class="component-lists"><a href="">Badge</a></li>
                    <li class="component-lists"><a href="">Button</a></li>
                    <li class="component-lists"><a href="">Card</a></li>
                    <li class="component-lists"><a href="">Grid</a></li>
                    <li class="component-lists"><a href="">Image</a></li>
                    <li class="component-lists"><a href="">Input</a></li>
                    <li class="component-lists"><a href="">List</a></li>
                    <li class="component-lists"><a href="">Modal</a></li>
                    <li class="component-lists"><a href="">Navigation</a></li>
                    <li class="component-lists"><a href="">Rating</a></li>
                    <li class="component-lists"><a href="">Slider</a></li>
                    <li class="component-lists"><a href="">Toast</a></li>
                </ul>
            </div>
        </section>
        <section class="documentation-container">
            <header class="component-title-text">
                Toast
            </header>
            <hr />
            <p class="component-paragraph-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

            <div class="component-examples-container toast-examples-container">
                <div class="toast successful-toast">
                    Successfully Added
                </div>

                <div class="toast error-toast">
                    Error Occured
                </div>
            </div>

            <div class="component-code-examples-container">
                <iframe title=""
                    src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29& t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%2520%253Cdiv%2520class%253D%2522component-examples-container%2520toast-examples-container%2522%253E%250A%2520%2509%253Cdiv%2520class%253D%2522toast%2520successful-toast%2522%253E%250A%2509%2509Successfully%2520Added%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%250A%2520%2520%2520%2520%253Cdiv%2520class%253D%2522toast%2520error-toast%2522%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%2520Error%2520Occured%250A%2520%2520%2520%2520%253C%252Fdiv%253E%250A%2520%253C%252Fdiv%253E"
                    style="width: 650px; height: 314px; border:0; transform: scale(1); overflow:hidden; padding-top: 2rem;"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </section>
    </main>
    <!-- Main section ends-->
</body>
</html>