.list-content-container {
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
}

.unordered-list-content-container {
    gap: 12rem;
}

.type-capital-alphabet {
    list-style-type: upper-alpha;
}

.type-lower-alphabet {
    list-style-type: lower-alpha;
}

.type-upper-roman {
    list-style-type: upper-roman;
}

.type-lower-roman {
    list-style-type: lower-roman;
}

.type-circle {
    list-style-type: circle;
}

.type-square {
    list-style-type: square;
}