<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/footer.css">
    <link rel="stylesheet" href="../../css/layout.css">
    <link rel="stylesheet" href="./alert.css">
    <link rel="stylesheet" href="../../css/navigation.css">
    <link rel="stylesheet" href="../../css/sidebar.css">
    <link rel="stylesheet" href="../../css/documentation.css">
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/lists.css">
    <link rel="stylesheet" href="../../css/components.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
    <title>Alerts</title>
</head>
<body>
    <!-- Navigation header starts here-->
    <nav class="navigation-container">
        <header class="navigation-left-title"> <a class="navigation-links" href="../../index.html">MerlinUI</a></header>
        <ul class="navigaton-right-links-container">
            <li><a class="navigation-links"href="../../index.html">Home</a></li>
            <li><a class="navigation-links" href="https://github.com/smkmallik/Merlin-Component-Library">Github</a></li>
        </ul>
    </nav>
    <!-- Navigation header ends here -->

    <!-- Main section starts -->
    <main class="main-container">
        <section class="sidebar-container">
            <div>
                <header>Get Started</header>
                <hr />
                <ul class="lists-container">
                    <li class="component-lists"> <a class="navigation-links" href="../../installation.html">Installation</a></li>
                </ul>
                <header>Components</header>
                <hr />
                <ul class="lists-container">
                    <li class="component-lists"><a class="navigation-links" href="./alert.html">Alert</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../avatar/avatar.html">Avatar</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../badge/badge.html">Badge</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../button/button.html">Button</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../card/card.html">Card</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../grid/grid.html">Grid</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../image/image.html">Image</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../input/input.html">Input</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../list/list.html">List</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../modal/modal.html">Modal</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../navigation/navigation.html">Navigation</a></li>
                    <li class="component-lists"><a class="navigation-links" href="./">Rating</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../slider/slider.html">Slider</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../toast/toast.html">Toast</a></li>
                    <li class="component-lists"><a class="navigation-links" href="../text-utilities/text-utilities.html">Text Utilities</a></li>
                </ul>
            </div>
        </section>
        <section class="documentation-container">
            <header class="component-title-text">
                Alert
            </header>
            <hr />
            <p class="component-paragraph-text">
                Alerts are used to display important messages to the users without any interruptions while using the webapp.
            </p>
            <header class="component-subtitle-text">
                Examples of Alerts
            </header>
            <p class="component-subparagraph-text">
                Alerts are of five types i.e, Primary, Info, Success, Error and Warning.
            </p>

            <div class="component-examples-container">
                <div class="alert primary-alert">
                    Alert: Primary Alert
                </div>
                <div class="alert info-alert">
                    Info: Info Alert
                </div>
                <div class="alert success-alert">
                    Success: Success Alert
                </div>
                <div class="alert error-alert">
                    Error: Error Alert
                </div>
                <div class="alert warning-alert">
                    Warning: Warning Alert
                </div>
            </div>

            <div class="component-code-examples-container">
                <iframe title=""
                    src="https://carbon.now.sh/embed?bg=rgba%28203%2C203%2C203%2C1%29&t=material&wt=none&l=auto&width=680&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Fira+Code&fs=14px&lh=152%25&si=false&es=2x&wm=false&code=%253Cdiv%2520class%253D%2522alert%2520primary-alert%2522%253E%250A%2509Alert%253A%2520Primary%2520Alert%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520info-alert%2522%253E%250A%2520%2520%2520%2520Info%253A%2520Info%2520Alert%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520success-alert%2522%253E%250A%2520%2520%2520%2520%2520Success%253A%2520Success%2520Alert%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520error-alert%2522%253E%250A%2520%2520%2520%2520%2520Error%253A%2520Error%2520Alert%250A%253C%252Fdiv%253E%250A%253Cdiv%2520class%253D%2522alert%2520warning-alert%2522%253E%250A%2520%2520%2520%2520%2520Warning%253A%2520Warning%2520Alert%250A%253C%252Fdiv%253E"
                    style="width: 435px; height: 505px; border:0; transform: scale(1); overflow:hidden; padding-top: 2rem;"
                    class="component-code-example"
                    sandbox="allow-scripts allow-same-origin">
                </iframe>
            </div>
        </section>
    </main>
    <!-- Main section ends-->
</body>
</html>